.hero {
  .container {
    @include breakpoint-up(large) {
      display: flex;
      // align-items: center;
    }
  }
  background-color: $verylightgray;

  &__text {
    text-align: center;
    h1 {
      color: $darkblue;
      font-size: 2rem;
      text-align: center;
      line-height: 1.3;
    }
    p {
      line-height: 1.5;
      margin-bottom: 2rem;
      font-size: 1rem;
    }

    @include breakpoint-up(large) {
      h1 {
        text-align: left;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 300;

        font-size: $font-xlg;
      }
      p {
        line-height: 1.7;
        margin-bottom: 2rem;
        font-size: 1rem;
        text-align: left;
      }
      flex: 3;
      order: 1;
      text-align: left;
    }
  }

  &__image {
    position: relative;
    background-image: url("bg-intro-mobile.svg");
    //first center is horizontal and the second is vertical
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 17.5rem;

    @include breakpoint-up(large) {
      flex: 2;
      order: 2;
      // height: 41rem;
      background-image: none;
      // background-image: url("bg-intro-desktop.svg");
    }

    @include breakpoint-dowm(medium) {
      min-height: 25rem;
      background-position: center bottom;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 100%;
      width: 100%;
      @include breakpoint-up(large) {
        width: 115%;

        height: 120%;
        left: 3%;
      }
      // left: 24%;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("bg-intro-desktop.svg");
      background-size: 118%;
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 100%;
      width: 100%;
      @include breakpoint-up(large) {
        width: 150%;
        background-size: 122%;

        background-position: 0 83%;
      }
    }
  }
}
